@media(max-width:956px){


    .layout{
    
        grid-template-areas: 
            "header header"
            "slider slider"
            "main main"
            "aside aside";
        grid-template-columns: 100%;    
        
    }
    .layout__aside{
        margin-top: 3rem;
    }

    .login__form-group,.login__submit{
        width: 60%;
    }
}

@media(max-width:696px){
    
    .header__nav{
        height: auto;
        padding: 0;
    }
    .nav__list{        
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
    .list__link{
        margin: 1rem 0;
        padding: 1rem 1rem;        
    }
    .layout__slider{
        height: 30rem;
        width: 98%;
    }
    .layout__articles{
        margin-right: 1rem;
    }
}

@media(max-width:500px){

    .logo__text{
        font-size: 3.5rem;
    }
    .layout__slider{
        height: 22rem;
    }

    .layout__articles{
        margin-right: 0.5rem;
    }
    .footer{
        flex-direction:column;
        gap:0.5rem;
    }
}

@media(max-width:400px){

    .logo__text{
        font-size: 2.5rem;
    }
    .layout__slider{
        height: 16rem;
    }

    .layout__articles{
        margin-right: 0.5rem;
    }
    .footer{
        font-size: 1.4rem;
        flex-direction:column;
        gap:0.5rem;
    }

    .login__form-group,.login__submit{
        width: 100%;
    }
}